@model WebApplication1.Models.Event

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Event</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RefundTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RefundTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ResCancelTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ResCancelTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RefundPortion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RefundPortion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FlightNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FlightNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Organizer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Organizer.Description)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
