@model WebApplication1.Models.Flight

@{
    ViewData["Title"] = "ReservationNow";
}


<h3>Reserve ticket</h3>
<div>

    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Organizer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Organizer.Description)
        </dd>
        <dt class="col-sm-2">
            @*@Html.DisplayNameFor(model => model.FlightNo)*@Flight No
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FlightNo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>




    </dl>
</div>

<button onclick="myFunction()" class="btn btn-info">Extra Info </button>
<div id="myDIV" style="display: none">

    <hr />
    <dl class="row">

        <dt class="col-sm-2">
            @*@Html.DisplayNameFor(model => model.ResCancelTime)*@Res. Cancel Time
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ResCancelTime)
        </dd>
    </dl>

</div>
<hr />
<p style="color:crimson"> @ViewData["Err"]</p>
<form asp-action="ReservationNow">
    <div class="form-group">
        <label id="type" class="control-label"> Class :  </label>
        @Html.DropDownList("type", new List<SelectListItem>() { new SelectListItem { Text = "Economy", Value = "2" }, new SelectListItem { Text = "Business", Value = "1" } })
    </div>
    <div class="form-group">
        <label for="countOfSeats" class="control-label"> Number of tickets: </label>
        <input type="number" id="countOfSeats" name="countOfSeats" value="1" min="1" />
    </div>
    <div class="form-group">
        <label for="countOfChild" class="control-label"> Child(ren) (Age 2-12): </label>
        <input type="number" id="countOfChild" name="countOfChild" value="0" min="0"/>
    </div>
    <div class="form-group">
        <label for="countOfBaby" class="control-label"> Infant(s) (Age 0-2): </label>
        <input type="number" id="countOfBaby" name="countOfBaby" value="0" min="0"/>
    </div>
    <input type="hidden" asp-for="Id" />
    <input type="submit" value="Confirm" class="btn btn-success" /> |
    <a asp-action="Index" asp-controller="Flights">Back to List</a>
</form>


<script>
    function myFunction() {
        var x = document.getElementById("myDIV");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
