@model WebApplication1.Models.Route

@{
    ViewData["Title"] = "Details";
}

<h3>Route Details</h3>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @*@Html.DisplayNameFor(model => model.FlightNo)*@Route Id
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RouteId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DepartureId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DepartureId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ArrivalId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ArrivalId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ETA)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ETA.TimeOfDay)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.RouteId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
