@model IEnumerable<WebApplication1.Models.Route>

@{
    ViewData["Title"] = "Index";
}

<h2 style="color:lightgrey">Routes</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>


@using (Html.BeginForm("Index", "Routes", FormMethod.Get))
{

    <br />
    <h4>Search for Routes</h4>
    <p style="color:crimson"> @ViewData["Err"]</p>
    <div class="row">

        <div class="col-md-4">

            @*<div class="form-group">
                    <label id="dest" class="control-label"></label>
                    <select id="dest" name="dest" class="form-control" asp-items="ViewBag.CityId"></select>
                </div>*@
            <div class="form-group">
                <a> @Html.DropDownList("dep", ViewData["AirportId"] as SelectList, "From", new { required = "required" }) </a>
                <a style="margin:20px"> @Html.DropDownList("arr", ViewData["AirportId"] as SelectList, "To", new { required = "required" })</a>
            </div>
            @*<div class="form-group">
                    <label id="arr" class="control-label"></label>
                    <select id="arr" class="form-control" asp-items="ViewBag.CityId"></select>
                </div>*@
            @*<div class="form-group">
                    <label for="date"></label>
                    <input type="date" id="date"
                           name="date" value= @ViewData["Date"]
                           min=@DateTime.Now.ToString("yyyy-MM-dd") max="2100-06-14">
                </div>*@



            <div class="form-group">
                <input type="submit" value="Search" class="btn btn-primary" />
            </div>
        </div>
    </div>

}

<table class="table">
    <thead>
        <tr>
            <th>
                @*@Html.DisplayNameFor(model => model.FlightNo)*@Route Id
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.DepartureId)*@Departure
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.ArrivalId)*@Arrival
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ETA)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td style="color:lightgrey">
                    @Html.DisplayFor(modelItem => item.RouteId)
                </td>
                <td style="color:lightgrey">
                    @Html.DisplayFor(modelItem => item.DepartureAirport.AirportName)
                </td>
                <td style="color:lightgrey">
                    @Html.DisplayFor(modelItem => item.ArrivalAirport.AirportName)
                </td>
                <td style="color:lightgrey">
                    @Html.DisplayFor(modelItem => item.ETA.TimeOfDay)
                </td>

                <td>
                    <a asp-action="Edit" asp-route-id="@item.RouteId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.RouteId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.RouteId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<asp:Calender ID="Calendar1" runat="server" SelectionMode="DayWeekMonth">
</asp:Calender>
