@model WebApplication1.Models.Purchase

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Purchase</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProcessTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProcessTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsProcessed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsProcessed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Owner)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Owner.Id)
        </dd>
    </dl>
</div>
<div class="btn-group" role="group">
    <a asp-action="Delete" asp-route-id="@Model.Id"  class="btn btn-danger">Delete</a> |
    <a asp-action="Index"  class="btn btn-primary">Back to List</a>
</div>
