@model WebApplication1.Models.Purchase

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 style="color:lightgrey">Purchase Details</h3>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2" style="color:lightslategrey">
            @*@Html.DisplayNameFor(model => model.ProcessTime)*@Process Time
        </dt>
        <dd class = "col-sm-10" style="color:lightgrey">
            @Html.DisplayFor(model => model.ProcessTime)
        </dd>
        <dt class = "col-sm-2" style="color:lightslategrey">
            @*@Html.DisplayNameFor(model => model.IsProcessed)*@Is Processed
        </dt>
        <dd class = "col-sm-10" style="color:lightgrey">
            @Html.DisplayFor(model => model.IsProcessed)
        </dd>
        <dt class = "col-sm-2" style="color:lightslategrey">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10" style="color:lightgrey">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2" style="color:lightslategrey">
            @Html.DisplayNameFor(model => model.Owner)
        </dt>
        <dd class="col-sm-10" style="color:lightgrey">
            @Html.DisplayFor(model => model.Owner.Name) @Html.DisplayFor(model => model.Owner.Surname)
        </dd>
    </dl>
</div>
<div class="btn-group" role="group">
    <a asp-action="Delete" asp-route-id="@Model.Id"  class="btn btn-danger">Delete</a> |
    <a asp-action="Index"  class="btn btn-primary">Back to List</a>
</div>
