@model WebApplication1.Models.Airplane

@{
    ViewData["Title"] = "Details";
}

<h2 style="color:lightgrey">Airplane Details</h2>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2" style="color:lightslategrey">
            @*@Html.DisplayNameFor(model => model.BusinessRowNo)*@Business Row
        </dt>
        <dd class = "col-sm-10" style="color:lightgrey">
            @Html.DisplayFor(model => model.BusinessRowNo)
        </dd>
        <dt class="col-sm-2" style="color:lightslategrey">
            @*@Html.DisplayNameFor(model => model.BusinessColumnNo)*@Business Column
        </dt>
        <dd class = "col-sm-10" style="color:lightgrey">
            @Html.DisplayFor(model => model.BusinessColumnNo)
        </dd>
        <dt class="col-sm-2" style="color:lightslategrey">
            @* @Html.DisplayNameFor(model => model.EconomyRowNo)*@Economy Row
        </dt>
        <dd class = "col-sm-10" style="color:lightgrey">
            @Html.DisplayFor(model => model.EconomyRowNo)
        </dd>
        <dt class="col-sm-2" style="color:lightslategrey">
            @* @Html.DisplayNameFor(model => model.EconomyRowNo)*@Economy Column
        </dt>
        <dd class = "col-sm-10" style="color:lightgrey">
            @Html.DisplayFor(model => model.EconomyColumnNo)
        </dd>
        <dt class="col-sm-2" style="color:lightslategrey">
            @*@Html.DisplayNameFor(model => model.SuperCheapRowNo)*@Super Cheap Row
        </dt>
        <dd class = "col-sm-10" style="color:lightgrey">
            @Html.DisplayFor(model => model.SuperCheapRowNo)
        </dd>
        <dt class="col-sm-2" style="color:lightslategrey">
            @*@Html.DisplayNameFor(model => model.SuperCheapRowNo)*@Super Cheap Column
        </dt>
        <dd class = "col-sm-10" style="color:lightgrey">
            @Html.DisplayFor(model => model.SuperCheapColumnNo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
