@model WebApplication1.Models.Offer

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 style="color:lightgrey">Offer Details</h3>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2" style="color:lightslategrey">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10" style="color:lightgrey">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2" style="color:lightslategrey">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10" style="color:lightgrey">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2" style="color:lightslategrey">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10" style="color:lightgrey">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class="col-sm-2" style="color:lightslategrey">
            @Html.DisplayNameFor(model => model.ChildPrice)
        </dt>
        <dd class="col-sm-10" style="color:lightgrey">
            @Html.DisplayFor(model => model.ChildPrice)
        </dd>
        <dt class="col-sm-2" style="color:lightslategrey">
            @*@Html.DisplayNameFor(model => model.Event)*@Flight No
        </dt>
        <dd class="col-sm-10" style="color:lightgrey">
            @Html.DisplayFor(model => model.Flights.Select(x => x.Flight.FlightNo))
        </dd>
        <dt class="col-sm-2" style="color:lightslategrey">
            @Html.DisplayNameFor(model => model.OfferType)
        </dt>
        <dd class="col-sm-10" style="color:lightgrey">
            @Html.DisplayFor(model => model.OfferType.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
