@model IEnumerable<WebApplication1.Models.Offer>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="color:lightgrey">Offers</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChildPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Flights)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OfferType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td style="color:lightgrey">
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td style="color:lightgrey">
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td style="color:lightgrey">
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td style="color:lightgrey">
                @Html.DisplayFor(modelItem => item.ChildPrice)
            </td>
            <td style="color:lightgrey">
                @Html.DisplayFor(modelItem => item.Flights.Count)
            </td>
            <td style="color:lightgrey">
                @Html.DisplayFor(modelItem => item.OfferType.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
