@page
@model AddressModel

@{
    ViewData["Title"] = "Address";
    ViewData["ActivePage"] = ManageNavPages.Addresses;
}

    <h4>@ViewData["Title"]</h4>

<p>
    <a asp-page="./AddressCreate">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Address[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address[0].AddressLine)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address[0].Owner)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Address) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AddressLine)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Owner.Id)
            </td>
            <td>
                <a asp-page="./AddressEdit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./AddressDetails" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./AddressDelete" asp-route-id="@item.Id">Delete</a>

            </td>
        </tr>
}
    </tbody>
</table>
