@page
@model DeleteModel

@{
    ViewData["Title"] = "Delete address";
    ViewData["ActivePage"] = ManageNavPages.Addresses;
}

<p class="text-danger">@Model.ErrorMessage</p>
<h3 style="color:lightgrey">Are you sure you want to delete this address?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address.Name)
        </dt>
        <dd class="col-sm-10" style="color:lightgrey">
            @Html.DisplayFor(model => model.Address.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address.AddressLine)
        </dt>
        <dd class="col-sm-10" style="color:lightgrey">
            @Html.DisplayFor(model => model.Address.AddressLine)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address.Owner)
        </dt>
        <dd class="col-sm-10" style="color:lightgrey">
            @Html.DisplayFor(model => model.Address.Owner.Name) @Html.DisplayFor(model => model.Address.Owner.Surname)
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="Address.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./AddressIndex">Back to List</a>
    </form>
</div>
