@page
@model DetailsModel

@{
    ViewData["Title"] = "Details";
    ViewData["ActivePage"] = ManageNavPages.Addresses;
}

<h3 style="color:lightgrey">@ViewData["Title"]</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address.Name)
        </dt>
        <dd class="col-sm-10" style="color:lightgrey">
            @Html.DisplayFor(model => model.Address.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address.AddressLine)
        </dt>
        <dd class="col-sm-10" style="color:lightgrey">
            @Html.DisplayFor(model => model.Address.AddressLine)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address.Owner)
        </dt>
        <dd class="col-sm-10" style="color:lightgrey">
            @Html.DisplayFor(model => model.Address.Owner.Name) @Html.DisplayFor(model => model.Address.Owner.Surname)
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="Address.Id" />
        <a asp-page="./AddressEdit" asp-route-id=@Model.Address.Id class="btn btn-primary">Edit</a> |
        <a asp-page="./AddressIndex">Back to List</a>
    </form>
</div>
