@page
@model ReservationsModel
@{
    ViewData["Title"] = "Reservations";
    ViewData["ActivePage"] = ManageNavPages.Reservations;
}

<h3 style="color:lightgrey">@ViewData["Title"]</h3>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.reservations[0].Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.reservations[0].Flight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.reservations[0].Flight.Date)
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.tickets[0].Event.FlightNo)*@Flight No
            </th>
            <th>
                @Html.DisplayNameFor(model => model.reservations[0].Seats)
            </th>


            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.reservations)
        {
        <tr>
            <td style="color:lightgrey">
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td style="color:lightgrey">
                @Html.DisplayFor(modelItem => item.Flight.Name)
            </td>
            <td style="color:lightgrey">
                @Html.DisplayFor(modelItem => item.Flight.Date)
            </td>
            <td style="color:lightgrey">
                @Html.DisplayFor(modelItem => item.Flight.RouteId)
            </td>
            <td style="color:lightgrey">
                @foreach (var item2 in item.Seats)
                {
                    @Html.DisplayFor(modelItem => item2.Col) @Html.DisplayFor(modelItem => item2.Row)
                }
            </td>

            <td style="color:lightgrey">

                <a asp-action="Buy_After_Reservation" asp-route-id="@item.Id " asp-controller="Reservation">Buy Now</a>
            </td>
            <td style="color:lightgrey">

                <a asp-action="Cancel_Reservation" asp-route-id="@item.Id " asp-controller="Reservation">Cancel</a>
            </td>


        </tr>
        }
    </tbody>
</table>
