@page
@model TicketModel
@{
    ViewData["Title"] = "Ticket";
    ViewData["ActivePage"] = ManageNavPages.Tickets;
}

<h4>@ViewData["Title"]</h4>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.tickets[0].Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tickets[0].Event)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tickets[0].Event.Date)
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.tickets[0].Event.FlightNo)*@Flight No
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tickets[0].Seats)
            </th>


            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.tickets)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Event.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Event.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Event.FlightNo)
            </td>
            <td>
                @foreach (var item2 in item.Seats)
                {
                    @Html.DisplayFor(modelItem => item2.Col) @Html.DisplayFor(modelItem => item2.Row)
                }
            </td>
           


        </tr>
        }
    </tbody>
</table>
