@model WebApplication1.Models.Company

@{
    ViewData["Title"] = "Details";
}

<h3>Company Details</h3>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LogoLocation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LogoLocation)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        @if (ViewData["Managers"] != null)
        {
            <dt class="col-sm-2">
                Manager
            </dt>
            foreach (var manager in (ViewData["Managers"] as List<AppUser>))
            { @*
                <dt class="col-sm-2">
                    @Html.Display(manager.Name)
                    @Html.Display(manager.Surname)
                </dt>*@
            <dd class="col-sm-10">
                @Html.DisplayName(manager.Name)
                @Html.DisplayName(manager.Surname)
                <a style="margin:20px" href="#" class="viewMove" data-target="/Companies/MoveUser/@manager.Id">Move Manager</a>
            </dd>
            <dt class="col-sm-2"></dt>

        }

    }
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="AddUser" asp-route-id="@Model.Id">Add User</a> |
    <a asp-action="Index">Back to List</a>
</div>

<div class="modal" tabindex="-1" role="dialog" id="modelView">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Move Manager</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript">

    $("body").on("click", ".viewMove", function () {
        var url = $(this).data("target");
        $.get(url, function (data) { }).done(function (data) {
            $("#modelView .modal-body").html(data);
            $(".modal").modal("show");
        })
            .fail(function () {
                $("#modelView .modal-body").text("Error!!");
                $(".modal").modal("show");
            })
    });
</script>
