@model IEnumerable<WebApplication1.Models.Company>

@{
    ViewData["Title"] = "Index";
}

<h2 style="color:lightgrey">Companies</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LogoLocation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
    

                    @{string path = item.LogoLocation;
                        int length = path.Length;
                        path = path.Substring(1, length - 1);
                    }

                    <img src=@path width="80" height="60" />
<<<<<<< HEAD


=======
>>>>>>> f38e11c8d66fa005ebaa6085ac07e14145d05643
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
