@model IEnumerable<WebApplication1.Models.Flight>

<div id="data">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FlightNo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Organizer)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Route)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FlightNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Organizer.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Route.RouteId)
                    </td>
                    <td>
                        <a asp-action="ReservationNow" asp-route-id="@item.Id" asp-controller="Reservation" class="btn btn-warning">Reservation Now</a> |
                        <a class="btn btn-primary" id="btnBuy"  data-target="/Flights/Buy?id=@item.Id">Buy Ticket</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <script type="text/javascript">

        $("#btnBuy").click(function () {
            var url = $(this).data("target");
            $.get(url, function (data) { }).done(function (data) {
                $("#data").html(data);
            })
                .fail(function () {
                    $("#data").text("Error!!");
                })
        });

    </script>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
