@model IEnumerable<WebApplication1.Controllers.FlightsController.SearchResultModel>

<div id="data">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Flight.Date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Flight.FlightNo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Flight.Organizer)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Flight.Route)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Flight.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Flight.FlightNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Flight.Organizer.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Flight.Route.ArrivalAirport.AirportName)
                    -
                    @Html.DisplayFor(modelItem => item.Flight.Route.DepartureAirport.AirportName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    <a class="btn btn-primary" id="btnBuy" data-target="/Flights/Buy?id=@item.Flight.Id&numOfAdult=@Context.Request.Query["numOfAdult"]&numOfChild=@Context.Request.Query["numOfChild"]&ticketClass=@Context.Request.Query["ticketClass"]">Buy/Reservation</a> |
                    <a asp-action="Details" asp-route-id="@item.Flight.Id">Details</a>
                </td>
            </tr>
            }
        </tbody>
    </table>

    <script type="text/javascript">

        $(document).ready(function () {
            $("#modelView .modal-dialog").removeClass("modal-sm").addClass("modal-lg");
        })

        $("a[id^='btnBuy']").each(function () {
            $(this).click(function () {
                var url = $(this).data("target");
                $.get(url, function (data) { }).done(function (data) {
                    $("#data").html(data);
                })
                    .fail(function () {
                        $("#data").text("Error!!");
                    })
            })
        });

    </script>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
